// Dark Blue
@very-dark-blue: rgba( 26, 38, 51, 1.0);
@dark-blue: rgba( 41, 59, 79, 1.0);
@dark-blue-clear: rgba( 41, 59, 79, 0.02);
@dark-blue-10: rgba( 41, 59, 79, 0.1);
@dark-blue-20: rgba( 41, 59, 79, 0.2);
@dark-blue-40: rgba( 41, 59, 79, 0.4);
@dark-blue-60: rgba( 41, 59, 79, 0.6);
@dark-blue-80: rgba( 41, 59, 79, 0.8);
@dark-blue-90: rgba( 41, 59, 79, 0.9);

// Light Blue
@light-blue: rgba( 166, 217, 189, 1.0);
@light-blue-10: rgba( 166, 217, 189, 0.1);
@light-blue-20: rgba( 166, 217, 189, 0.2);
@light-blue-50: rgba( 166, 217, 189, 0.5);
@light-blue-80: rgba( 166, 217, 189, 0.8);
@light-blue2: rgba(131, 171, 149, 1.0);
@light-blue2-80: rgba(131, 171, 149, 0.8);

@transparent-black: rgba( 0, 0, 0, 0.4);

@transparent-grey: rgba( 237, 230, 206, 0.5);

// Brown
@dark-brown: rgba( 38, 22, 5, 1.0);

// Orange
@orange: rgba( 255, 140, 0, 1.0);
@orange-10: rgba( 255, 140, 0, 0.1);
@orange-20: rgba( 255, 140, 0, 0.2);
@orange-50: rgba( 255, 140, 0, 0.5);
@orange-80: rgba( 255, 140, 0, 0.8);

// Red
@red: rgba( 149, 32, 0, 1.0);
@red-20: rgba( 149, 32, 0, 0.2);
@red-50: rgba( 149, 32, 0, 0.5);
@light-red: rgba( 195, 45, 75, 1.0);
@light-red-20: rgba( 195, 45, 75, 0.2);
@light-red-50: rgba( 195, 45, 75, 0.5);

// Whites
@offwhite: rgba( 237, 230, 206, 1.0);
@offwhite-20: rgba( 237, 230, 206, 0.2);
@offwhite-30: rgba( 237, 230, 206, 0.3);
@offwhite-50: rgba( 237, 230, 206, 0.5);

@dark-offwhite: rgba( 211, 205, 184, 1.0);

// Yellow
@light-yellow: rgba( 255, 237, 148, 1.0);
@light-yellow-20: rgba( 255, 237, 148, 0.2);


@brand-primary: #0085A1;
@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;