@import "colors";
@import "fonts";
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";
@import "mixins";
@import "navbar";
@import "social-buttons";
// Global Components
html,
body {
	width: auto !important;
	overflow-x: hidden !important;
}

body {
	.sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 50px;
	/* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

// -- Typography
p {
	cursor: default;
	line-height: 1.2;
	margin: 30px 0;
	a {
		//		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	cursor: default;
	font-weight: 800;
}

h2 {
	padding-top: 24px;
}

h2 + p,
h3 + p,
h4 + p {
	margin-top: 2px;
}

a {
	color: @dark-blue-80;
	&:hover,
	&:focus {
		color: @dark-blue;
	}
}
.phone{
	display: inline-block;
	border-radius: 5px;
	font-weight: 600;
	background-color: @light-blue-20;
	padding: 2px 5px;
	&:hover,
	&:focus {
		  color: @red;
	}
}
a img {
	&:hover,
	&:focus {
		cursor: zoom-in;
	}
}

.underline {
	text-decoration: none;
	position: relative;
	color: @dark-brown;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:after {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 1px;
		border-width: 0 0 1px;
		border-style: solid;
		border-color: @orange-20;
	}
	@media(min-width:768px) {}
}
a.underline {
	color: @light-blue-80;
	&:hover,
	&:focus {
		color: @orange;
	}
}
a.logo {
	color: @dark-blue-90;
}

blockquote {
	color: @gray;
	font-style: italic;
}

hr.small {
	max-width: 100px;
	margin: 5px auto;
	border-width: 4px;
	border-color: @orange-50;
}

// Button Styles
.btn {
	border: 1px solid @red-20;
	color: @dark-blue-80;
	background-color: white;
	&:hover,
	&:focus {
		color: @dark-blue;
		background-color: @light-blue;
		border-color: @orange-50;
	}
}

.btn-lg {
	font-size: 16px;
	padding: 25px 35px;
}

.btn-default {
	&:hover,
	&:focus {
		background-color: @dark-blue;
		border: 1px solid @dark-blue;
		color: white;
	}
}

// Pager Styling
.pager {
	margin: 20px 0 0;
	li {
		> a,
		> span {
			.sans-serif;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 800;
			letter-spacing: 1px;
			padding: 15px 25px;
			background-color: white;
			border-radius: 0;
		}
		> a:hover,
		> a:focus {
			color: white;
			background-color: @brand-primary;
			border: 1px solid @brand-primary;
		}
	}
	.disabled {
		> a,
		> a:hover,
		> a:focus,
		> span {
			color: @gray;
			background-color: @gray-dark;
			cursor: not-allowed;
		}
	}
}

// -- Highlight Color Customization
::-moz-selection {
	color: white;
	text-shadow: none;
	background: @brand-primary;
}

::selection {
	color: white;
	text-shadow: none;
	background: @brand-primary;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}

body {
	webkit-tap-highlight-color: @brand-primary;
}

// Styling of dt/dd elements
dt {
	margin-bottom: 5px;
}

dd {
	margin-left: 30px;
	margin-bottom: 10px;
}

// Images
.blogImg {
	height: 150px;
	width: 100%;;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 25px;
	background: no-repeat center center;
	background-attachment: scroll;
	.background-cover;
	border: 5px solid @dark-blue-20;
	border-radius: 5px;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.image-bg-fluid-height {
	background: url("/uploads/img/headers/header-1.jpg") no-repeat center center scroll;
	background-size: cover;
	padding: 100px 0 50px 0;
}

.image-bg-fixed-height {
	background: url("/uploads/img/headers/header-1.jpg") no-repeat center center scroll;
	background-size: cover;
	position: relative;
	height: 550px;
	&:before {
		position: absolute;
		background-color: @dark-blue;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.15;
	}
	@media(max-width:768px) {
		height: 500px;
	}
}

.image-bg-fixed-height-files {
	background: url("/uploads/img/files-4.jpg") no-repeat center center scroll;
	background-size: cover;
	height: 175px;
}

.image-bg-fixed-height2 {
	background: url("/uploads/img/files-3.jpg") no-repeat center center scroll;
	background-size: cover;
	opacity: 0.5;
	height: 15px;
}

.img-center {
	margin: 0 auto;
}

// Header
.intro-header {
	position: relative;
	background-color: @gray;
	background: no-repeat center center;
	background-attachment: scroll;
	.background-cover;
	// NOTE: Background images are set within the HTML using inline CSS!
	margin-top: 0px;
	text-decoration: none;
	&:before {
		position: absolute;
		background-color: @dark-blue-90;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1.0;
		box-shadow: 0 0 10px @dark-blue inset;
	}

	.site-heading,
	.post-heading,
	.page-heading {
			margin-top: 75px;
			margin-bottom: 75px;
			padding: 25px 0 25px;
			color: @offwhite;
			background-color: @light-blue-50;
			border-radius: 10px;
			border: 2px solid @dark-blue;
			@media only screen and (min-width: 768px) {
				padding: 30px 0;
			}
		}

	.site-heading,
	.page-heading {
			text-align: center;
			h1 {
				margin-top: 0;
				font-size: 50px;
			}
			.subheading {
				font-size: 24px;
				line-height: 1.1;
				display: block;
				.sans-serif;
				font-weight: 300;
				margin: 5px 0 0;
			}
			@media only screen and (min-width: 768px) {
				h1 {
					font-size: 80px;
				}
			}
		}

	.post-heading {
			text-align: center;
			padding: 10px;
			margin-bottom: 25px;
			h1 {
				font-size: 50px;
			}
		}

	.subheading,
	.meta {
			line-height: 1.1;
			display: block;
		}

	.subheading {
		.sans-serif;
		font-size: 24px;
		margin: 5px 0 15px;
		font-weight: 600;
		color: white;
	}

	.meta {
			color: @orange-50;
			font-style: italic;
			font-weight: 300;
			font-size: 16px;
			a {
				color: white;
			}
		}

	@media only screen and (min-width: 768px) {
			h1 {
				font-size: 55px;
			}
			.subheading {
				font-size: 30px;
			}
		}

}

.post-heading .meta a,
article a {
	text-decoration: none;
}

.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

// Sections
section {
	padding: 75px 0;
}

.section-heading {
	font-size: 4em;
	margin: 8px 0;
	font-weight: 700;
}

.section-lead {
	margin: 5px 0;
}

.section-paragraph {
	margin: 30px 0;
	text-shadow: 0 0 15px @dark-blue;
}

// Captions
.caption {
	text-align: center;
	font-size: 14px;
	padding: 2px;
	margin: 0;
	display: block;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

// Adjust position of captions
.caption-title {
	margin-bottom: 5px;
}

.caption-title + p {
	margin-top: 0;
}

//Footer
footer {
	padding: 0px 0px 50px 0px;
	.list-inline {
		margin: 0;
		padding: 0;
	}
}


.contactHeader {
	height: 350px;
	box-shadow: 0 0 80px @dark-blue-10 inset;
	h1 {
		display: block;
		border-radius: 3px;
		padding: 17px;
		padding-bottom: 5px;
		margin: 0px 0px;
		color: @offwhite;
		background-color: @dark-blue-90;
		border: 1px solid @dark-blue-20;
	}
}

// Page Bodies
#pageBody {
	display: block;
	#homePageContent {
		width: 100%;
		.homebox {
			background-color: rgba( 0, 0, 0, 0.55);
			padding: 20px 20px 20px 20px;
			border-top: 2px solid @offwhite;
			border-bottom: 2px solid @offwhite;
		}
		@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
			.homebox {
				-webkit-backdrop-filter: blur(5px);
				backdrop-filter: blur(5px);
				background-color: rgba( 26, 38, 51, 0.7);
			}
		}
		.happy {
			text-align: left;
			color: @offwhite;
		}
		.shareBox {
			background-color: @dark-blue-60;
			padding: 15px;
			border-radius: 5px;
			border: 1px solid @offwhite-30;
			h2 {
				cursor: default;
				color: @offwhite;
				font-size: 1.2em;
				padding-top: 5px;
				margin: 0px 0px;
			}
			h5 {
				cursor: default;
				margin-top: 5px;
			}
			a.underline {
				padding: 2px 4px;
				margin-top: -10px;
				background-color: @offwhite-20;
			}
			@media only screen and (max-width: 768px) {
				padding: 0;
			}
		}
		.featuresModule {
			padding-top: 5%;
			padding-bottom: 5%;
			h3 {
			padding:0px 20px 50px 20px;
			text-transform: uppercase;
			}
			.thumbnail {
				border: none;
				img {
					border: 3px solid @dark-blue-20;
				}
//				h3 {
//					padding:10px 20px;
//					font-size: 26px;
//					color: @dark-blue-80;
//					&:hover,
//					&:focus {
//						
//					}
//				}
				p {
					font-size: 1.5em;
				}
				.featureBtn {
					font-size: 0.8em;
					&:focus,
					&:hover {
						border: 1px solid @orange;
					}
				}
			}
			.caption p {
				margin-top: 5%;
				margin-bottom: 5%;
			}
		}	
		.well {
			background-color: @offwhite;
			border-radius: 0px;
			cursor: default;
		}
	}
	#blogPageContent {
		.post-preview {
			> a {
				color: @dark-blue;
				&:hover,
				&:focus {
					text-decoration: none;
					.post-title {
						transform-origin: bottom left;
						color: @orange;
						.keyframes(scaleUp;
						{
							0% {
								transform: scale(1.0, 1.0);
							}
							100% {
								transform: scale(1.01, 1.01);
							}
						}
						);
						.animation(scaleUp 0.6s forwards ease-out 1 alternate)
					}
					.post-subtitle {
						transform-origin: bottom left;
						.keyframes(boxShade;
						{
							0% {
								text-shadow: 0px 1px 1px @dark-blue-20;
							}
							100% {
								text-shadow: 0px 1px 3px @dark-blue-20;
							}
						}
						);
						.animation(boxShade 0.6s forwards ease-out 1 alternate)
					}
				}
				> .post-title {
					margin-left: 20px;
					font-size: 30px;
					margin-top: 30px;
					margin-bottom: 10px;
				}
				> .post-subtitle {
					margin: 0;
					font-weight: 300;
					margin-left: 40px;
					margin-bottom: 10px;
				}
			}
			> .post-meta {
				color: @red;
				font-size: 18px;
				font-style: italic;
				margin-top: 0;
				margin-bottom: 0;
				> a {
					text-decoration: none;
					color: @dark-brown;
					&:hover,
					&:focus {
						//				color: @orange;
						//				text-decoration: underline;
					}
				}
			}
			@media only screen and (min-width: 768px) {
				> a {
					> .post-title {
						font-size: 36px;
					}
				}
			}
		}
	}
	#postPageContent {
		.postSig {
			margin-right: 100px;
		}
	}
	#contactPageContent {
		.container {
			margin-bottom: 60px;
			padding: 60px 0px 0px 40px;
		}
		.contact {
			div {
				padding-right: 25px;
			}
			p {
				margin:15px;
//				padding-left: 20px;
			}
			h1 {
				font-size: 45px;
			}
			form {
				margin-top: 25px;
			}
		}
		table {
			width:90%;
			padding:5%;
			text-align:center;
			caption {
				text-align:center;
				color: @dark-blue;
			}
			th {
				white-space:nowrap;
				text-align:center;
			}
			td {
				color: @dark-brown;
			}
		}
		// Contact Form Styles
		.floating-label-form-group {
			font-size: 14px;
			position: relative;
			margin-bottom: 0;
			padding-bottom: 0.5em;
			border-bottom: 1px solid @gray-light;
			input,
			textarea {
				z-index: 1;
				position: relative;
				padding-right: 0;
				padding-left: 0;
				border: none;
				border-radius: 0;
				font-size: 1.5em;
				background: none;
				box-shadow: none !important;
				resize: none;
			}
			label {
				display: block;
				z-index: 0;
				position: relative;
				top: 2em;
				margin: 0;
				font-size: 0.85em;
				line-height: 1.764705882em;
				vertical-align: middle;
				vertical-align: baseline;
				opacity: 0;
				-webkit-transition: top 0.3s ease, opacity 0.3s ease;
				-moz-transition: top 0.3s ease, opacity 0.3s ease;
				-ms-transition: top 0.3s ease, opacity 0.3s ease;
				transition: top 0.3s ease, opacity 0.3s ease;
			}
			&::not(:first-child) {
				padding-left: 14px;
				border-left: 1px solid @gray-light;
			}
		}
		.floating-label-form-group-with-value {
			label {
				top: 0;
				opacity: 1;
			}
		}
		.floating-label-form-group-with-focus {
			label {
				color: @brand-primary;
			}
		}
		form .row:first-child .floating-label-form-group {
			border-top: 1px solid @gray-light;
		}
		form label {
			color: @dark-brown;
		}
		strong {
			color: @dark-brown;
			white-space: nowrap;
		}
		.about {
			background-color: @very-dark-blue;
			h2 {
				padding-left: 15px;
				color: @offwhite;
				white-space: nowrap;
			}
			p {
				word-wrap:break-word;
				color: white;
				font-size: 18px;
				position: relative;
				padding-left: 15px;
//					right: auto;
//					text-align: center;
//					transform: translate(-50%, 0);
//					margin: 0px;
				}
				strong {
					color: @light-blue2;
				}
			}
			img {
				max-height: 225px;
				margin-right: 5px;
				margin-bottom: 10px;
				border: 1px solid @offwhite-20;
			}
		}
	#servicesPageContent {
		.jumbotron {
			background: url("/uploads/img/files-5.jpg") no-repeat center center scroll;
			background-size: cover;
			position: relative;
			padding: 0 0;
			.grad {	
				display: block;
				height: 300px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a2633+0,293b4f+28,d3cdb8+58,a6d9bd+71,1a2633+97,1a2633+97&1+0,0.1+77,0.55+100 */
				background: -moz-linear-gradient(-45deg, rgba(26,38,51,1) 0%, rgba(41,59,79,0.67) 28%, rgba(211,205,184,0.32) 58%, rgba(166,217,189,0.17) 71%, rgba(134,176,157,0.1) 77%, rgba(26,38,51,0.49) 97%, rgba(26,38,51,0.55) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(26,38,51,1) 0%,rgba(41,59,79,0.67) 28%,rgba(211,205,184,0.32) 58%,rgba(166,217,189,0.17) 71%,rgba(134,176,157,0.1) 77%,rgba(26,38,51,0.49) 97%,rgba(26,38,51,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(26,38,51,1) 0%,rgba(41,59,79,0.67) 28%,rgba(211,205,184,0.32) 58%,rgba(166,217,189,0.17) 71%,rgba(134,176,157,0.1) 77%,rgba(26,38,51,0.49) 97%,rgba(26,38,51,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2633', endColorstr='#8c1a2633',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
			h1 {
				padding: 40px 20px 5px 20px;
				color: @offwhite;
				text-shadow: 0 0 4px @transparent-black;
			}
			p {
				padding: 10px 30px;
				background-color: @dark-blue-90;
				color: @offwhite;
				text-shadow: 0 0 5px black;
				border-top: 1px solid @offwhite-20;
				border-bottom: 1px solid @offwhite-20; 
				@media(max-width:768px) {
					text-align: center;
					}
				}
		}
		h5 {
			display: inline-block;
		}
		.connectModal {
			margin-top: -1px;
		}
		.featurettes {
			padding: 2%;
			.thumbnail {
				border: none;
			}
			h3 {
				font-size: 20px;
			}
			.caption p {
				font-size: 18px;
			}
		}
		#insurance {
			ul {
				li {
					list-style: none;
				}
				a {
					color: @dark-offwhite;
					&:before {
						content: "-";
						color: @orange-50;
						position: absolute;
						display: inline-block;
						left: -1px;
						font-weight: 600;
					}
					&:hover,
					&:focus {
						text-decoration: none;
						color: @offwhite;
					&:before {
						color: @orange;
						}
						}
					 }
					}
				
			
			h4 {
				padding: 10px;
			}
		}
	}
}

#copyright {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
}

// Mobile Breakpoint
@media(max-width:768px) {
	section {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	#pageBody {
		#homePageContent {
			.homebox {}
			@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
				.homebox {}
			}
			.happy {
				text-align: center;
			}
			.featuresModule {
				.thumbnail {
					h3 {
						font-size: 26px;
					}
					p {
						font-size: 16px;
					}
				}
			}
			.feature-img {
				padding: 25px;
			}
		}
		#blogPageContent {
			.post-preview {}
		}
		#postPageContent {
			.postSig {}
		}
		#contactPageContent {
			.contact {}
			.about {}
		}
	}
	.section-heading {
		font-size: 2em;
	}
}


/*
//.imgContainer {
//    position: relative;
//    width: 100%;
//    float: left;
//    height: 200px;
//    overflow: hidden;
//}
//.imgContainer img {
//    position:relative;
//    padding: 2%;
//    max-width: 96%;
//}
*/