@import "//fonts.googleapis.com/css?family=Lora:400,700,\
  400italic,700italic";
@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,\
  600italic,700italic,800italic,400,300,600,700,800'";
@import "//fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic";
@import "//fonts.googleapis.com/css?family=Hind:400,500,600,700,300";

.serif() {
	font-family: 'Lora', 'Times New Roman', serif;
}

.sans-serif() {
	font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}