// NavBar
.navBar {
//Affects both Mobile & Browser
  background-color: transparent;
	
// NavBar Media Break Point
@media (min-width: @grid-float-breakpoint-max){
		//Affects only Mobile
			background-color: white;
			border-bottom: 1px solid @red;
	}
  
// Nav Text
  .navbar-text {
  //Affects both Mobile & Browser
  color: @navbar-default-color;
  }
    
// General Nav Controls
  .navbar-nav {
  //Affects both Mobile & Browser
    > li > a {
      color: @dark-blue;
      &:hover,
      &:focus {
        color: @red;
        background-color: @navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }
    
// Toggle Button
  .navbar-toggle {
    //Affects just Toggle Button
    border-color: @dark-blue-20;
    &:hover .icon-bar {
      background-color: @red; 
    }
    &:hover,
    &:focus {
      -webkit-box-shadow: 0px 0px 5px 1px @dark-blue-20;
      -moz-box-shadow: 0px 0px 5px 1px @dark-blue-20;
      box-shadow: 0px 0px 5px 1px @dark-blue-20;
      background-color: @light-blue-10;
    }   
    .icon-bar {
      background-color: @dark-blue;
      }  
    }
    
// Dropdown Menu
  .navBar-menu {
    //Affects both Mobile and Browser
    border-color: @light-red;
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
        //Affects only Mobile
        background-color: white;
        width: 35%;
        margin-left: 65%;
        text-align: right;
        border-bottom: 1px solid @red;
        
        li {
            border-bottom: 1px dotted @dark-blue-20;
        }
        
        li:hover a {
          color: @red;
          
          .keyframes(pushLeft;{
            0% { margin-right: 0px;}
            100% { margin-right: 3px;}
            });

	       .animation(pushLeft 0.6s forwards ease-out 1 alternate)
            
        }
        
        .adminLink {
          color: @red;
        }
        
        li:hover .adminLink {
          color: @light-red;
//          margin-right: 5px;
          
          .keyframes(fade-inNN;{
            0% { margin-right: 0px;}
            100% { margin-right: 3px;}
            });

	       .animation(fade-inNN 0.6s forwards ease-out 1 alternate)
         }
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {  
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
    
// Dropdown Menu Header
  .navBar-head {
    //Affects both Mobile and Browser
      
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      //Affects only Mobile
        background-color: white;
        border-bottom: 1px solid @red;
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {  
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
    
// Links in navbars
  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
    
// Class to ensure links outside the navbar nav are colored correctly.
  .btn-link {
    color: @navbar-default-link-color;
    &:hover,
    &:focus {
      color: @navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
      }
    }
  }
}  
