@import "colors";
@import "mixins";

/*
// CONNECT BUTTONS
//.longFade {
//	border-radius: 50%;
//	.keyframes(circle;{
//            0% {  color: @light-blue-50}
//            100% { color: @offwhite;}
//            });
//	    .animation(circle 1.5s forwards ease-out 1 alternate)
//}
*/

// CONNECT BUTTON
#connectDropdown:hover > #connectButton {
	box-shadow: 0px 0px 25px @offwhite-20;
}

.modal-backdrop {
		background-color: @dark-blue;
		}

.modal-open {
	overflow: hidden;
}

#connectMenu {
	border: none; 
	z-index:1200;
	margin-top: 9px;
	margin-right: 20px;
	> .connectPanel {
		#connectDropdown {
			z-index: 1155;
			.dropdown affix open {
				outline-color: none;
				&:hover,
				&:focus{
				-webkit-focus-ring-color: none;
				outline-color: none;
				}
			}
		}
	}
	
	> .connectPanelFixed {
			margin-left: 60px;
	}
	
	#connectMenu2 {
		background-color:@light-blue-80;
		border: 2px solid rgba( 255, 140, 0, 0.2);
//			left: 50%;
//			right: auto;
//			text-align: center;
//			transform: translate(-50%, 0);
//			margin: 0px;
		}
	
	#connectButton {
		outline: none;
		border-radius: 4px;
		border: 1px solid @orange-50;
		color: @orange-50;
		background-color: @light-blue-80;
		box-shadow: 0px 0px 5px @offwhite-20 inset;
		font-size: 5px;
		outline-color: none;
		&:hover {
			border-color: @orange-20;
			.keyframes(borderOutline;{
            0% { box-shadow: 0px 0px 0px @transparent-black;}
            100% { box-shadow: 0px 0px 25px @offwhite-20;}
            });

	       .animation(borderOutline 0.6s forwards ease-out 1 alternate)
		}
		i{
			
		}
		&:hover i,
		&:focus i {

		}
		.connectButtonIcon {
			-webkit-focus-ring-color: none;
				outline-color: none;
		}
	}

	.socialBtnContainer {
		> h3 {
			color: @dark-blue;
			white-space: nowrap;
			padding:5px;
			margin-top:5px;
			text-decoration:underline;
			cursor: default;
		}
		
		> .row {
			padding: 2px;
		}

		> .row > div {
			text-align: center;
		}

		.googlePlus {
			padding-left: 2px;
			padding-right: 2px;
		}

		.twitterFollow {
			padding-left: 2px;
			padding-right: 2px;
		}

		.facebookLike {
			padding-left: 2px;
			padding-right: 2px;
			margin-top: 0px;
		}

		.linkedInFollow {
			padding-left: 2px;
			padding-right: 2px;
		}
	}
	
	@media(max-width:768px) {
		display: none;
	}
}

#connectMenu.connectPageButton {
		display: block;
		position: absolute;
		margin-left: 40px;
		margin-top: 2px;
		z-index: 1000;
		#connectButton {
			border-radius: 0px;
			border-top: 0px;
		}
		@media(min-width:768px) {
		display: none;
	}
}

.connectModal {
		margin-top: 15px;
	a {
			background-color: @dark-blue-80;
			border: 1px solid @light-blue-20;
			padding: 6px;
			font-weight: 700;
			color: @offwhite;
			&:hover,
			&:focus {
				background-color: @light-blue2-80;
			}
		}
	}

#subscriberModal {
		margin-top: 100px;
	}

.shortLink {
	color:@orange-80;
	font-size:14;
	&:hover,
	&:focus {
		text-decoration: none
	}
}

// SHARE BUTTONS
.shareLinks {
	padding-left: 100px; 
}

.shareLinks a {
	
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

#sharePost {
	display: inline-block;
  background: #FFF;
  cursor: pointer;
  line-height: 20px;
  width:28px;
	&:hover .label,
	&:focus .label {
		color: #DC4E41;
	}
	
			.label {
				display: none;
				color:black;
				font-size: 55%;
				margin-left: -5px;
				&:hover,
				&:focus {
					
				}
			}
			
			.icon {
				width: 28px;
				height: 28px;
				display: inline-block;
				&:hover,
				&:focus .icon {

				}
			}
			
			.google {
				background: url('../icons/google.png') transparent 0 0px no-repeat;
				background-size: 100% 100%;
			}
	
			.linkedin {
				background: url('../icons/linkedin.png') transparent 0 0px no-repeat;
				background-size: 100% 100%;
			}
	
			.twitter {
				background: url('../icons/twitter.png') transparent 0 0px no-repeat;
				background-size: 100% 100%;
			}
	
			.facebook {
				background: url('../icons/facebook.png') transparent 0 0px no-repeat;
				background-size: 100% 100%;
			}
	a {
		text-decoration: none;
	}
}


